body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.first{
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex: auto;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

}

.header .logo{
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
    flex:1;
}

.links{
    display: flex;
    justify-content: center;
    flex: 1;
}

ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    gap: 22px;
}

a{
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.info{
    padding: 20px;
    display: flex;
    gap: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.info div{
    flex: 1;
}

.info img{
    width: 400px;
    height: auto;
}

.about{
    font-size: 20px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about div{
    flex: 1;

}

.ext{
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

button{
    flex: 0;
    max-height: 50;
    max-width: 150px;
    font-size: 20px;
    color: white;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 12px;
    border: black;
    border-color: lavender;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 30gitpx;
}

.Galleryhead{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 40px;
    margin-top: 80px;
}

.Gallery{
    font-size: 20px;
    color: gray;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 100px;
    text-align: center;
}

.image{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
}

.Gallerypic{
    border: #3882f6 solid 5px;
    border-radius: 12px;
    height:200px;
    width: 300px;
}

.third{
    background-color: rgb(212, 210, 210);
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.quote{
    color: #1f2937;
   font-size: 36px;
   font-style: italic;
   padding-top: 100px;
   margin-left: 350px;
   margin-right: 350px;
}

.quoteauthor{ 
    font-size:20px ;
    text-align: right;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: auto;
}

.four{
display: flex;
align-items: center;
gap: 400px;
background-color:#3882f6;
color: white;
margin: 100px 200px;
padding: 50px;
border-radius: 12px;
}

.fourabt{
    margin-left: 100px;
    flex: 1;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.fourup{
    font-size: 30px;
    font-weight: 900;
}

.fourlp{
    font-size: 20px;
}

.fourbutton{
    flex: 1;
    margin-right: 100px;
    border: white solid 2px;
}

.footer{
    background-color:#1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}